<!DOCTYPE html>
<head>
     
 {% include 'snippets/extensions.html' %}
 {% include 'snippets/loadmycss.html'%}
<title>{% block head_title %}My Resume{% endblock head_title %}</title>
</head>

<body>

{% include 'snippets/header.html' %}


  <div class="container-fluid">
    <div class="row">
     {% include 'snippets/sidebar.html' %}
     {% include 'tabcontents.html' %}
          </div>
     
        </div>
<div class="footer">
  <p>Note : The website is fully responsive which includes table and contents.Inorder to view the contents of the table,kindly move it back and forth.</p>
</div>
</body>
</html>