
 <div class="tab-pane" id="careerobj" role="tabpanel">
                            <h3 class="sub-header">Job traits</h3>
                                
                                <div class="panel panel-info">
                                    <div class="panel-heading">Career Objective</div>
                                    <div class="panel-body">
                                        <p>Career progress through constant learning, comprehensive application, dedicated deeds and courteous conduct. </p>
                                        <p>To secure a challenging position where I can effectively contribute my skills as a Professional and grow along side with the organisation.</p>
                                    </div>
                                  </div>
                              
                                  <div class="panel panel-info">
                                    <div class="panel-heading">Mission</div>
                                    <div class="panel-body"><p>To meet and exceed organisation’s bench mark to ensure improved productivity and Customer Delight.</p></div>
                                  </div>
                                  <div class="panel panel-info">
                                      <div class="panel-heading">Personal Skills</div>
                              
                                          <ul class="list-group">
                                              <li class="list-group-item">Proactive approach and Optimistic Outlook.</li>
                                              <li class="list-group-item">Interpersonal and Communication Skills Comprehensive analytical ability.</li>
                                              <li class="list-group-item">Comprehensive analytical ability.</li>
                                              <li class="list-group-item">Decision making ability and Leadership Quality.</li>
                                              <li class="list-group-item">Motivation and Team Development Skills.</li>
                                            </ul>
                                      
                                    </div>
                                    
                              </div>
                        