 <div class="tab-pane" id="interest" role="tabpanel">
                            <h3 class="sub-header">Technologies of my Interest</h3>
                            <div class="panel panel-info">
                                <div class="panel-heading">Technologies of my Interest</div>
                                <div class="panel-body">
                                <p>
                                    <strong>
                                      <p>Language : Python</p>
                                      <p>Framework : Django</p>
                                    </strong>
                                    <p>
                                       <strong>Technologies of Interest :</strong>  Web development using Python, Aritificial Intelligence - machine learning using Python,Big Data Analytics and Internet of Things (IOT)
                                       <p><strong>Measures Taken :</strong> Self studied Python and Django.</p>
                                        <p><strong>Created the currently viewing Portfolio Resume Site using Django.</strong></p>
                                        <strong>Technologies used : Python 3.6, Django 1.11.2 ,SQlite,HTML 5, CSS 3, Bootstrap 3, JS</strong>
                                    </p>
                                    
                                </p>
                                </div>
                              </div>

                        </div>
                      
